body{   
    background-color: gray;
    font-family: monospace;
    font-size: 16px;
    margin: 0px;
}

header{
    background-color: lightsalmon;
    color: white;
    position: relative;
    padding: 10px;

    text-align: center;
}


.menu {
    margin-top: 10px;
}

.menu a{
    display: inline-block;
    padding: 10px 20px;
}

article{
    background-color: white;

    width: 50%;

    margin: 20px auto;
    padding: 20px;

    border: 2px solid white;
}

section{
    margin-bottom: 20px;
    padding: 15px;
    
    border: 1px solid white;
}

footer{
    background-color: azure;
    color: black;
    text-align: center;
    position: relative;
    padding: 20px;
    margin-top: 15px;
}

.footer-icons {
    color: blue;
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 15px;
    
}

h1{
    font-size: 32px;
    color: blue;
}

h2{
    font-size: 24px;
}


h3{
    font-size: 16px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

p{
    color: black;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}

.box{
    margin: 20px;
    padding: 15px;
    border: 2px solid black;
}