body {
    font-family: Arial, sans-serif;
    background-color: oklab(72.06% 0.00751 -0.1416);
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    width: 350px;

    background-color: white;

    padding: 20px;

    border: 1px solid #ccc;
}

.card h2 {
    text-align: center;
}

input {
    width: 100%;

    padding: 8px;

    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;

    padding: 10px;

    background-color: blue;
    color: white;

    border: none;
}

button:hover {
    cursor: pointer;
}

.card p {
    text-align: center;
}